= simple_form_for([scenario, implementation], :html => { :multipart => true }) do |f|
  = f.error_notification

  .form-inputs
    = f.association :package
  .form-actions
    = f.button :submit, class: "btn-success"
    = link_to 'Cancel', :back, class: 'btn btn-default btn-danger'