= content_tag 'div', class: 'implementation', id: 'implementation-' + implementation.id.to_s, data: {implementation: implementation.json, scenario: implementation.scenario.json, library: implementation.library} do
  .library-container
    = render partial: 'libraries/partials/library', object: implementation.library.decorate, as: :lib
  .row.vis-row
    .vis-wrapper
      %iframe{id: 'frame-' + implementation.id.to_s, src: frame_path(scenario, implementation), sandbox: 'allow-scripts allow-same-origin'}
  .row.controls-row
    .controls-wrapper
      .btn-group
        %button#redraw.btn.btn-default{title: 'Redraw the visualization to apply changes', data: {toggle: 'tooltip', placement: 'top', container: 'body'}}
          %span.glyphicon.glyphicon-pencil
        %button#reset.btn.btn-default{title: 'Reset the visualization to the initial state', data: {toggle: 'tooltip', placement: 'top', container: 'body'}}
          %span.glyphicon.glyphicon-trash
      .btn-group.btn-group-editor
      
      .btn-group
        .btn-label
          = implementation.name
        = link_to implementation.library.url, id: 'website', class: 'btn btn-default', target: '_blank', title: "Open the website for #{implementation.library.name}" do
          %span.glyphicon.glyphicon-home
        = link_to implementation.library.url_docs, id: 'docs', class: 'btn btn-default', target: '_blank', title: "Open the documentation for #{implementation.library.name}", disabled: implementation.library.url_docs.nil? do
          %span.glyphicon.glyphicon-book
        = link_to implementation.library.url_code, id: 'code', class: 'btn btn-default', target: '_blank', title: "Open the source repository for #{implementation.library.name}", disabled: implementation.library.url_code.nil? do
          %span.glyphicon.glyphicon-folder-open

      - if scenario.has_interval?
        .btn-group
          .btn-label
            %span.glyphicon.glyphicon-transfer
            &nbsp;Data-Stream
          %button#toggle-pause.btn.btn-default.active{title: 'start/stop the data flow'}
            %span.glyphicon
  .row.code-row
    .code-wrapper