= simple_form_for(library) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :short, hint: 'max. 150 characters', input_html: { maxlength: 150 }
    = f.input :description
    = f.input :url
    = f.input :cdn_url, label: 'CDN Url'
    = f.input :license
    = f.input :latest_version
    = f.input :web_standard, label: 'Web standards only? (e.g. SVG, Canvas, etc.)'
    = f.input :support

  .form-actions
    = f.button :submit, class: 'btn-success'
