%h1.page-header
  = @library.name
-if notice
  .alert.alert-success
    %p#notice= notice

%p.lead
  = @library.short
%p= link_to @library.url, @library.url
%p
  = @library.description

.btn-group
  = link_to 'Edit', edit_library_path(@library), class: 'btn btn-default'
  = link_to 'Back', libraries_path, class: 'btn btn-default'
