- content_for :title do
  \∙ Comparing

%h4 Comparing implementations of #{link_to usecase.name, usecase}
.row
  - @implementations.each_with_index do |impl, i|
    .col-md-6{id: 'col-index-' + i.to_s}
      = form_tag(remote_implementation_path(usecase), method: 'get', format: 'javascript', remote: true) do
        %input#index{type: 'hidden', name: 'index', value: i}
        .form-group
          = select_tag(:id, options_for_select(@array_of_implementations), class: 'form-control')
        = submit_tag('Load', class: 'btn btn-default')
      = render partial: 'implementations/partials/implementation', object: impl 