- content_for :style do
  :css
    html, body, #vis {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    }
  = stylesheet_link_tag implementation.styles_url
  - library.resources.where(content_type: 'css').each do |r|
    = stylesheet_link_tag r.url
  %style#styles

#vis
- library.resources.where(content_type: 'javascript').each do |r|
  = javascript_include_tag r.url
= javascript_include_tag scenario.script_url
= javascript_include_tag implementation.script_url
- implementation.resources.each do |url|
  = javascript_include_tag url