.details-container.vis-container{id: type.transliterate_name}
  = image_tag type.image_url
  %h1= type.name
  %p.lead
    = link_to type.wiki_url, type.wiki_url, target: "_blank"
  %p= type.description
  .vertical-spacer
  
  %h3 Scenarios
  - if type.scenarios.empty?
    %p.not-available Sorry, there are no scenarios that feature this visualization type yet. If you would like to a create a scenario for using a '#{type.name}' visualization check our link_to contribution page.
  - else
    %table.table.table-condensed.scenarios
      %thead
        %tr
          %th Scenario
          %th Tasks
          %th # of implementations
      %tbody
        = render(partial: "types/partials/scenario", collection: type.scenarios)