= simple_form_for(scenario) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :short, hint: 'max. 150 characters', input_html: { maxlength: 150 }
    = f.input :description
  .form-actions
    = f.button :submit, class: "btn-success"
    = link_to 'Cancel', :back, class: 'btn btn-default'
    = link_to 'Delete', scenario, method: :delete, class: 'btn btn-danger'