- content_for :title do
  = scenario.name

.row.scenario-container
  = form_tag('/',id: 'form-scenario-select', class: 'form-inline') do
    .form-group
      = select_tag :id, options_from_collection_for_select(scenarios, 'id', 'name', scenario.id), class: 'form-control'
  = scenario_dec.hash_tags
  -# %p.lead= scenario.short
  -# %p= scenario.description
.row.compare-container
  - 2.times do |i|
    .implementation-container{id: 'container-' + i.to_s}
      .top-controls
        = form_tag(remote_implementation_path(scenario, index: i), method: 'get', format: 'javascript', remote: true, class: 'form-inline form-impl-select') do
          .form-group
            = select_tag :id, options_from_collection_for_select(implementations, 'id', 'lib_name'), class: 'form-control', prompt: 'Select an implementation', onchange: 'javascript: $( this ).trigger("submit.rails")'
        %button.btn.btn-icon.btn-full-screen
          %span.glyphicon
      .implementation
        .select-notification
          %h2 No implementation seleceted.
          %p Go ahead and select an implementation to compare it.
          = render partial: 'scenarios/partials/implementation_thumb', collection: scenario.implementations, locals: {index: i}

  - @implementations.each_with_index do |impl, i|
    :javascript
      $("#container-#{i} .form-impl-select select" ).val('#{impl.id}').trigger("change");