!!!
%html
  %head
    %title 
      VisComp 
      = yield :title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
      
  %body{data: {controller: params[:controller], action: params[:action]}}
    = render 'layouts/shared/header'
    .container-fluid
      = yield
    = render 'layouts/shared/footer'
