!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) + '・wyvis' : 'wyvis'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
      
  %body{data: {controller: params[:controller], action: params[:action]}}
    = render 'layouts/shared/header'
    #content.container-fluid
      - if content_for?(:wide_content)
        = yield :wide_content
      - else
        .row
          .col-md-6.col-md-offset-3
            = yield
    = render 'layouts/shared/footer'
