= simple_form_for(@usecase) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :short, hint: 'max. 150 characters', input_html: { maxlength: 150 }
    = f.input :discription
  .form-actions
    = f.button :submit, class: "btn-success"
